/* TV */
@media screen and (min-width: 1201px) {
}

/* Desktop */
@media screen and (min-width: 1024px) {
}

/* Laptop */
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .rectangle {
    width: 100%;
  }

  .rectangle > .rect-btn {
    color: white;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 10px;
  }
}

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 768px) {
}

/* Smartphones */
@media screen and (max-width: 480px) {
  /* Banner Section */
  .logo {
    position: absolute;
    top: 2%;
    left: 40%;
  }

  .navigation {
    display: none;
  }

  /* Cards Section */

  .cards-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    width: 100%;
  }

  .cards-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
  }

  /* Quote Section */

  .quote-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 80%;
    padding: 1rem;
  }

  .text-content {
    font-size: .9rem;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
  }

  .quoter-content {
    width: 100%;
    font-size: .8rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
