* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.img-res {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: bottom;
}

.logo {
  position: absolute;
  top: 4%;
  left: 5%;
  font-size: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  letter-spacing: 2px;
  filter: drop-shadow(5px 5px brown);
}

.navigation {
  width: 50%;
  position: absolute;
  top: 5%;
  right: 0%;
}

.navigation > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navigation > ul > li {
  font-size: 1.6rem;
  list-style: none;
  color: brown;
}

/* Cards Section */

.cards-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid red;
  padding: 3rem;
}

.cards-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.big-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.square {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 3px black;
}

.message {
  padding-top: 5px;
  text-align: center;
  width: 150px;
}
